body {
    font-family: 'Poppins';
    background-color: black;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: -3px;
}

.cabecalho .rhodes {
    width: 20%;
    height: auto;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    transition: 0.2s ease-in-out;
}

.cabecalho nav li a:hover {
    color: black;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #ffffff;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    height: calc(100vh - 132px);
    padding: 0 30px 30px;
}

.container .imagem-titulo {
    max-width: 500px;
}

.container .descricao {
    color: #ffffff;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
}

.container .botao-trailer {
    background-color: darkslategrey;
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}

.container .botao-trailer:hover {
    transform: scale(1.1);
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
}

.amiya {
    width: 57%;
    height: auto;
}

.fundo-video {
    background-color: black;
    position: absolute;
    z-index: -1;
    width: 98vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8533788515406162) 50%, rgba(0,0,0,1) 100%);
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(52, 52, 50, 0.749);
    visibility: hidden;
}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}

.fechar-modal {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    transition: 0.1s all ease-in-out;
    cursor: pointer;
}

.fechar-modal:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #ffffff;
}

.modal iframe {
    border-width: 0;
    width: 640px;
    height: 360px;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
}